body{
    font-family:garamond,serif;
}
#navbar{
    display: flex;
    margin-top: 10px;
}
#mob_div{
    display: none;
}
#mob_div1{
    display: none;
}
#nav_option_div{
    margin-left: 2%;
    width: 5%;
}
.linkss{
    text-decoration: none; 
    color: #bdbdb4;
  }
  #logo{
    margin-left: 2.5%;
    width: 100%;
}
#nav_link_div{
    color: black;
    display: flex;
    margin-left: 15%;
}
#like_div{
    color: black;

    background-color: #f1f0b3; 
    margin-left: 49%; 
    width: 25%; 
    display: flex; 
    border: 2px solid black;
}
#user{
    margin-left: 10%;
}
#user_btn{
    background-color: inherit; 
    border: none;
}
#user_left_div{
    width:40%; 
    border: 1px solid black; 
    border-radius: 90px;
}
#user_left_img{
    
    border-radius: 60%; 
    width: 22%;
}
#nav_option{
    font-size:20px;
    cursor:pointer;
    padding-right: 10px;
    padding-left: 10px;
}
.nav-link{
    color: black;
    text-decoration: none;
    margin-left: 2%;
}
#leftdiv{
    display: flex;
}
#topdiv{
  
   background-color:#f5f5f0;
}
#home_div{
    display: flex;
}
#left_home_div{
    width: 50%;
}
#right_home_div{
    color: #bdbdb4;
    margin-left: 2%;

    width: 50%;
}
#comp{
    height: 45px;
    width: 25px;
}
#mob{
    height: 25px;
    width: 15px;
}
#trim{
    margin-left: 20%;
}
#onlinemain{
   display: flex;
}
#onlinemain1{
    display: none;
 }
#online{
   margin-left: 20%;
}
#years{
    margin-left: 10%;
}
#imgcontainer{
   margin-left: 17%; 
    position: relative;
}
#watchdiv{
   position: absolute;
   top: 81%;
   left: 4%;
   display: flex;
}
#watchbtn{
    width:90%; 
    border:10px 10px 10 10px;
}
#extra{
    display: none;
}
#rightdiv{
   width: 100%;
}
#recommend{
    position: absolute;
    margin-left: 0%;
    border-radius:5px; 
}
#live_main{
    display: flex;
}
#livediv{
    
    margin-left:0%;
}
#divices{
    margin-left:30%;
}
#choose_slot{
    margin-left: 0%;
}
#timebtn1{
    background-color: inherit; 
    border-radius: 90px 90px 90px 90px; 
    width:15% ;
}
#timebtn2{
    background-color: inherit;
    border-radius: 90px 90px 90px 90px; 
    width:15% ; 
    margin-left: 3%;
}
#timebtn3{
    background-color: inherit;
    border-radius: 90px 90px 90px 90px; 
    width:15% ; 
    margin-left: 3%;
}
#seats_left{
    margin-left: 25%;
}
#inr_60{
    background-color: white;
}
#earn_100{
   color: red; 
   margin-left: 5%;
}
#book_class_btn{
    background-color: red; 
    border-radius: 7px; 
    width: 40%; 
    color: white; 
}
#share_btn{
    background-color: white; 
    border-radius: 7px; 
    margin-left: 15%; 
    color: red;
    border-color: red;
}
#green_div{
    border-color: rgb(20, 243, 20);
    background-color:rgb(20, 243, 20); 
    border-radius: 90px 90px 90px 90px; 
    width: 2%;
    margin-left: 10%;
}
#head1{
    margin-left: 10%;
}
#goals_div{
    display: flex;
    margin-left: 10%;
}
#left_goals_div{
    width: 15%;
}
#right_goals_div{
    margin-top: 23px;
    width: 100%;
}
#goal_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 6%;
    margin-left: 10%;
    color: white; 
    background-color: blue;
    border-color:rgb(231, 229, 229);
}
#badges_btn{
    margin-left: 12%; 
    border-radius: 100px 100px 100px 100px; 
    width: 6%;
    color: white; 
    background-color: green;
}
#badges_btn1{
    display: none;
}
#explorer_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 90%;
    height: 50px;
    background-color: white;
    border-color:rgb(231, 229, 229);
}
#explorer_div1{
    border-radius: 90%;
    border: 2px double rgb(204, 236, 241);
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px;
}
#explorer_div2{
    padding-top:8px; 
    padding-left:10%
}
#power_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 23%;
    height: 50px;
    background-color: white;
    margin-left: 4%;
    border-color:rgb(231, 229, 229);
}
#power_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#power_div2{
    padding-top:8px; 
    padding-left:10%
}
#daredevil_btn{
    border-radius: 100px 25px 25px 100px; 
    width: 24%;
    height: 50px;
    background-color: white;
    margin-left: 4%; 
    border-color:rgb(231, 229, 229); 

}
#daredevil_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#daredevil_div2{
    padding-top:8px; 
    padding-left:10%
}
#troubleShooter_btn{
    border-radius: 100px 25px 25px 100px; 
    width: 24%;
    height: 50px;
    background-color: white; 
    margin-left: 4%; 
    border-color:rgb(231, 229, 229);

}
#troubleShooter_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#troubleShooter_div2{
    padding-top:8px; 
    padding-left:10%
}
#skill_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 6%;
    margin-left: 10%;
    color: white; 
    background-color: purple;
}
#creative_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 15%;height: 50px;
    background-color: white;
    margin-left:10%;
    border-color:rgb(231, 229, 229);
}
#creative_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#creative_div2{
    padding-top:8px; 
    padding-left:3%
}
#flexible_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 15%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-color:rgb(231, 229, 229);
}
#flexible_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#flexible_div2{
    padding-top:8px; 
    padding-left:3%
}
#management_btn{
     border-radius: 100px 100px 100px 100px; 
     width: 15%;
     height: 50px;
     background-color: white;
     margin-left:2%;
     border-color:rgb(231, 229, 229);
     

}
#management_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#management_div2{
    padding-top:8px; 
    padding-left:3%
}
#strategic_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 15%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-color:rgb(231, 229, 229);
}
#strategic_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;

    
}
#strategic_div2{
    padding-top:8px; 
    padding-left:3%
    
}
#learn_btn{
    border-radius: 100px 0px 00px 100px;
    width: 8%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-right-style: none;
    border-color:rgb(231, 229, 229);
}
#learn_div1{
    border-radius: 90%;
    border: 2px double yellow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: yellow;
}
#learn_div2{
    padding-top:8px; 
    padding-left:3%
}
#learn_more{
    border-radius: 90%;
    border: 2px double black;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 40px; 
    background-color: rgb(172, 230, 248);
}
#heading2{
    margin-left: 10%;
}
#lorem1{
    margin-left: 10%; 
    margin-right: 10%;
}
#heading3{
    margin-left: 10%;
}
#bonjour_main{
    margin-left: 10%; 
    display: flex;
}
#bonjour1{
    display: flex;  
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 0 0 10px 10px;
}
#bonjour_sub1{
    margin-left: 5%;
}
#bonjour_arrow_div{
    margin-left: 41%;
}
#bonjour_arrow1{
    padding-right: 12px;
}
#bonjour2_div{
    margin-left: 5%;
}
#bonjour2{
    display: flex;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 0 0 10px 10px;
}
#bonjour_sub2{
    margin-left: 5%;
}
#bonjour_arrow_div1{
    margin-left: 41%;
}
#bonjour_arrow2{
    padding-right: 12px;
}
#heading4{
    margin-left: 10%;
}
#lorem2{
    margin-left: 10%; 
    margin-right: 10%;
}
#heading5{
    margin-left: 10%;
}
#attend_div{
    margin-left: 10%; 
    width: 85%;
    display: flex;
}
#step1{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 21%;
    margin-left: 3%;
}
#step2{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 21%;
    margin-left: 3%;
}
#step3{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 21%;
    margin-left: 3%;
}
#step4{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 21%;
    margin-left: 3%;
}
#hr{
    margin-left: 10%;
    margin-right: 10%;
}
#heading6{
    text-align: center;
} 
#created1{
    width: 16%;
    margin-left: 10%;
    padding-top: 30px; 
    opacity: 0.3;
}
#created2{
    width: 16%;
    padding-top: 30px; 
    opacity: 0.3;
}
#created2{
    width: 16%;
    border: 7px  solid black;
    border-radius: 10%;
    height: 350px;
}
#created_div{
    position: relative;
}
#bottom_div{
    background-color: rgb(95, 93, 93);
    font-size: 12px;
}
#bottom_subdiv1{
    text-align: center;
}
#realtv_btn{
    color: white; 
    background-color:red; 
    border-radius: 10px 10px 10px 10px; 
    border-color:red ;
}
#bottom_subdiv2{
    display: flex; 
    margin-left: 10%; 
    color: white;
    margin-top: 50px;
}
#ufaber{
    width: 25%;
}
#quick_link1{
    width: 14%; 
    margin-left: 5%;
}

#quick_link2{
    width: 10%;
}
#playstore_div{
    width: 30%;
    margin-left: 5%;
}
#copyright_div{
    background-color: rgb(75, 71, 71);
    text-align: center;
    color: white;
}
#nav_option1{
    display: none;
}
#mob_br{
    display: none;
}
#stud1{
    width: 16%;
    margin-left: 10%;
    padding-top: 30px; 
    opacity: 0.3;
}
#stud2{
    width: 16%;
    padding-top: 30px; 
    opacity: 0.3;
}
#stud3{
    margin-left: 47%;
    width: 16%;
    border: 7px  solid black;
    border-radius: 10%;
    height: 350px;
}
#stud3_div{
    border-radius: 90%;
    border: 2px double rgb(248, 245, 245);
     color: rgb(136, 133, 133);
     padding-left: 5px;
     padding-top: 5px;
     padding-right: 5px;
     height: 40px;
     width: 40px;
     text-align: center; 
     background-color: rgb(246, 248, 248);
     position: absolute;
     top: 86%;
    left: 61%;
}
#bottom_div_mob{
    display: none;
}
@media only screen and (max-width: 1100px) {
    body{
        overflow-x: hidden;
    font-family: "Brush Script MT", cursive;


      }
      #left_goals_div{
        width: 100%;
    }
      #link_div{
          display: none;
      }
    #logo_div{
        margin-left: 2%;
        width: 80%;
    }
    #nav_option{
        display: none;
    }
    #nav_option1{
        margin-right: 5%;
        margin-left: -30px;
        display: inline;
        font-size:20px;
        cursor:pointer;
        
        padding-left: 10px;
    }
    #nav_link_div{
        display: none;
    }
   
   #like_div{
       display: none;
   }
   #topdiv{
    display: inline;
    background-color:#52524b;
 }
 #onlinemain1{
     display: flex;

 }
 #onlinemain{
    display: none;

}
#home_div{
    display: inline;
    margin-right: 0PX;
} 
#left_home_div{
    background-color:#dbdbd6;
    
    width: 100%;
}
#right_home_div{
    background-color:#dbdbd6;

    
    width: 100%;
    text-align: center;
}
#imgcontainer{
    margin-left: 5%;
    
    width: 100%;
}
#live_main{
    margin-left: 20%;
    width: 190%;
}
#divices{

    margin-left:20%;
}
#choose_slot{
    margin-left:10%;

    width: 150%;
}
#book_div{
    margin-left:15%;

    width: 150%;
}
#timebtn1{
    margin-left: 0px;
    background-color: inherit; 
    border-radius: 90px 90px 90px 90px; 
    width:30% ;
}
#timebtn2{
    margin-left: 0px;
    background-color: inherit; 
    border-radius: 90px 90px 90px 90px; 
    width:30% ;
}
#book_class_btn{
    width: 70%;
    margin-left:-20px;
}
#goal_btn{
    width: 20%;
}
#explorer_btn{
    margin-left: 10%;
    width: 70%;
}
#timebtn3{
    margin-left: 0px;
    background-color: inherit; 
    border-radius: 90px 90px 90px 90px; 
    width:30% ;
}
#attend_div{
    overflow-x: scroll;
}
#badges_btn{
    display: none;
}

#badges_btn1{
    margin-top: 10PX;;
    display: inline;
    margin-left: 12%; 
    border-radius: 100px 100px 100px 100px; 
    width: 20%;
    color: white; 
    background-color: green;
}
#skill_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 20%;
    margin-left: 10%;
    color: white; 
    background-color: purple;
}
#mob_br{
    display: inline;
}
#goals_div{
    
    display: inline;
    }
#right_goals_div{
    width: 90%;
    overflow-x: auto;
    white-space: nowrap;
    
    overflow-y: hidden;
}
#skills_div{
    width: 90%;
    overflow-x: auto;
    white-space: nowrap;
    
    overflow-y: hidden;

}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#power_btn{

    margin-left: 10%;
    width: 80%;
}
#daredevil_btn{
    width: 80%;
}
#troubleShooter_btn{
    width: 80%;

}
#creative_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 80%;
    height: 50px;
    background-color: white;
    margin-left:10%;
    border-color:rgb(231, 229, 229);
}
#flexible_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 80%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-color:rgb(231, 229, 229);
}
#management_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 80%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-color:rgb(231, 229, 229);
}
#strategic_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 80%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-color:rgb(231, 229, 229);
}
#learn_btn{
    border-radius: 100px 100px 100px 100px; 
    width: 80%;
    height: 50px;
    background-color: white;
    margin-left:2%;
    border-color:rgb(231, 229, 229);
}
#learn_more{
    display: none;
}
#bonjour_main{
    width: 85%;
     height: 300px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    
    overflow-y: hidden;
}
#bonjour_1{
    width: 100%;
    
}
#bonjour2_div{
    width: 100%;
}
#attend_div{
    margin-left: 5%;
    width: 90%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    
}
#step1{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 90%;
    margin-left: 5%;
    overflow-wrap: break-word;
}
#step2{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 90%;
    margin-left: 1%;
    overflow-wrap: break-word;

}
#step3{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 90%;
    margin-left: 1%;
    overflow-wrap: break-word;

}
#step4{
    background-color: rgb(242, 247, 248);
    text-align: center;
    width: 90%;
    margin-left: 1%;
    overflow-wrap: break-word;

}
#stud1{
    display: none;
}
#stud2{
    display: none;
}
#stud3{
    margin-left: 10%;
    width: 80%;
    border: 7px  solid black;
    border-radius: 10%;
    height: 450px;
}
#stud3_div{
    border-radius: 90%;
    border: 2px double rgb(248, 245, 245);
     color: rgb(136, 133, 133);
     padding-left: 5px;
     padding-top: 5px;
     padding-right: 5px;
     height: 40px;
     width: 40px;
     text-align: center; 
     background-color: rgb(246, 248, 248);
     position: absolute;
     top: 86%;
    left: 86%;
}
#bottom_div{
    display: none;
}
#bottom_div_mob{
    margin-right: 0px;
    width: 100%;
    display: initial;
    background-color: rgb(95, 93, 93);
}
#realtv_btn{
    margin-left: 10%;
    width: 80%;
    
    color: white; 
    background-color:red; 
    border-radius: 10px 10px 10px 10px; 
    border-color:red ;
}
#user{
    margin-left: 10%;
    width: 130%;
}
#user_btn{
    background-color: inherit; 
    border: none;
    width: 70%;
}
#user_left_div{
    width:90%; 
    border: 1px solid black; 
    border-radius: 90px;
}
#user_left_img{
    
    border-radius: 60%; 
    width: 22%;
}
#watchbtn{
    width:70%; 
    border:10px 10px 10 10px;
}
#bonjour_arrow_div{
    margin-left: 20%;
}
#bonjour_arrow_div1{
    margin-left: 20%;
}
#bonjour_arrow1{
    padding-right: 0px;
}
#right_home_div{
    margin-left: 0px;
    width: 100%;    
}
#rightdiv{
    width: 100%;
 }
 #live_main{
     margin-left: 7%;
     color: #bdbdb4;
     width: 100%;
 }
 #choose_slot{
     text-align: left;
     margin-left: 7%;
     color:#bdbdb4;
     width: 93%;
 }
 #timebtn3{
     background-color: lightgreen;
 }
 #seats_left{
     margin-left: 35%;
 }
 #online{
    margin-left: 7%;
 }
 #book_div{
     margin-left: 7%;
     text-align: left;
     color: #bdbdb4;
     width: 90%;
 }
 #book_class_btn{
     margin-left: 1%;
 }
 #share_btn{
     margin-left: 5%;
 }
 #mob_div{
     margin-left: 30%;
    display: inline;
}
#mob_div1{
    margin-left:25%;
   display: inline;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
  }
  #trim{
      text-align: center;
      font-size: 25px;
      width: 97%;
    margin-left: 3%;
}
#nav_option_div{
    display: none;
}
#comp_br{
    display: none;
}
}
